:root {
  --colors-background-dark: #2d2d2d;
  --colors-background-light: #ffff;
  --colors-text-light: #4c4c4c;
  --colors-text-highlight: #4c4c4c;
  --colors-text-dark: #000;
  --fonts-normal-text: arial, verdana;

  --mdc-theme-primary: #07f2b0 !important;
  --mdc-theme-on-primary: #ffffff !important;
  --mdc-theme-surface: #06bfbf !important;
  --mdc-theme-on-surface: #000000 !important;
  --mdc-text-field-icon: #4c4c4c !important;

  --footer-icon-color: B3B3B3;
}

::selection {
  background: var(--mdc-theme-secondary);
}

/* @font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
} */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background: var(--colors-background-light);
  background-size: cover;
  font-family: var(--fonts-normal-text);
  font-size: 14px;
  font-weight: 400;
  color: var(--colors-text-light);
  cursor: default;
  background-color: #ffffff;
}

.container {
  width: 100%;
  height: 100%;
  /* text-align: center; */
  /* margin: 0 auto; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  overflow: hidden;

  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

/* .container .logo {
  height: 7vh;
  margin: 30px;
} */

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageForm {
  width: 300px;
  margin: 20px 0;
  background-color: white;
  border-radius: 10px;
  color: var(--mdc-theme-primary);
}

.messageForm {
  display: block;
}

/*styling van login en signup DONT TOUCH PLS*/

.mdc-text-field .mdc-text-field__input {
  caret-color: #07f2b0 !important;
}

.textfield {
  width: 300px;
  margin: 10px;
}

.login-screen-buttons {
  display: flex;
}

.login-button {
  margin: 5px;
}

.signup-button {
  margin: 5px;
}

.error-textfield {
  color: var(--mdc-theme-error);
  display: none;
}

/*Navbar styling DONT TOUCH PLS*/
footer {
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-size: 10px;
  height: 5%;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--colors-background-light);
  color: var(--footer-icon-color);
  text-align: center;
}

.taskbar-icons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
}

.left {
  float: left;
}

.right {
  float: right;
}

.header {
  width: 100%;
  height: 10vh;
  /* padding-left: 20px; */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  width: 100px;
}

.profileavatar {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background-color: #06bfbf;
}

.titletext h1 {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 500;
}

.bold {
  font-weight: 900;
}

#historysection h2 {
  font-family: Montserrat;
  font-size: 1.3rem;
}

.cardcontainer {
  /* padding-top: 20px; */
}

.card {
  display: grid;
  /* column-gap: 50px; */
  grid-template-columns: auto auto auto;
  align-items: center;
  width: 100%;
  height: 10vh;
  /* background-color: #e2e2e2; */
  border-radius: 20px;
  margin: 0px;
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.05);
  margin-bottom: 2vh;
}

.card h3 {
  font-family: Montserrat;
  font-size: 1.2rem;
  color: #08f2b0;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 900;
}

.card p {
  font-family: Montserrat;
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}

.card img {
  width: 50px;
}

.green {
  color: #08f2b0;
}
